@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-inter;
}

body::-webkit-scrollbar {
  width: 6px;  /* Chiều rộng của thanh cuộn */
}

body::-webkit-scrollbar-track {
  background: #181A20;  /* Màu nền của phần track */
}

body::-webkit-scrollbar-thumb {
  background-color: #16C784;  /* Màu của thanh cuộn */
  border-radius: 6px;  /* Bo tròn góc của thanh cuộn */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Màu khi hover vào thanh cuộn */
}

/* Tùy chỉnh thanh cuộn */
.custom-scrollbarmini::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
}

.custom-scrollbarmini::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* Màu thanh cuộn */
  border-radius: 4px; /* Bo tròn các góc */
}

.custom-scrollbarmini::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Màu khi hover */
}

.custom-scrollbarmini::-webkit-scrollbar-track {
  background-color: rgba(57, 57, 57, 0.475); /* Màu nền của track */
}


#BarsLoader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(rgb(19, 186, 78) 0 0); /* Màu xanh dương */
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
}

@keyframes l2 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  20% {background-size: 20% 60% ,20% 100%,20% 100%}
  40% {background-size: 20% 80% ,20% 60% ,20% 100%}
  60% {background-size: 20% 100%,20% 80% ,20% 60% }
  80% {background-size: 20% 100%,20% 100%,20% 80% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

#SpinerLoader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {to{transform: rotate(1turn)}}

.slider-container {
  transition: transform 2s ease;
}

.slider {
  min-width: 100%;
}


/* =====================================UPSIDE RANGER SLIDER==================================== */
/* styles/ProgressBar.css */
.progress-container {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  color: white;
}

.progress-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}

.segment {
  width: 10px;
  height: 20px;
  border-radius: 4px;
  background-color: #3e3e3e;
}

.segment.filled {
  background-color: #00cc66; /* Green color for the filled part */
}

.progress-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 8px;
}

/* =======================SROLL VALUETION CONCEPT======================= */

